@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
}

.main {
  background-image: url(./img/main_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 217px;
  padding-left: 120px;
  padding-bottom: 493px;
 
  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  &__text {
    width: 481px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    align-items: center;
    color: #ffffff;
    margin-top: 32px;
    margin-bottom: 44px;
  }
  &__button {
    width: 234px;
    height: 48px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #ffffff;
    background: #9c0332;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    &:hover {
      animation: pulsate-bck 1.5s linear infinite both;
    }
  }
}

.main__game {
  padding: 128px 120px 128px;
  background-color: #000915;

  &_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
    column-gap: 5px;
  }
  &_1 {
    background-image: url(./img/game_1.png);
  }
  &_2 {
    background-image: url(./img/game_2.png);
  }
  &_3 {
    background-image: url(./img/game_3.png);
  }
  &_text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    padding-left: 32px;
    padding-bottom: 32px;
    text-decoration: none;
  }
}

.container {
  width: 379px;
  height: 300px;
  display: flex;
  align-items: flex-end;
  border-radius: 16px;
  transition: all 0.1s;
  &:hover {
    border: 3px solid #44d2ff;
    border-color: #44d2ff;
    box-sizing: border-box;
  }
}

.content {
  background: #000915;
  padding: 233px 120px 233.5px;
  &__game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 10px;
    justify-content: space-between;

    &_box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      width: 584px;
      &_title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #ffffff;
      }
      &_text {
        padding-top: 32px;
        padding-bottom: 32px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #ffffff;
      }
    }
  }
}

.reverse {
  flex-direction: row-reverse;
}

.center {
  max-width: 1700px;
  margin: auto;
}

@import "mobile";
